{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 text-center mb-4">
        <h1 class="display-4">Добро пожаловать в наш магазин!</h1>
        <p class="lead">Лучшие товары по лучшим ценам</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Качество</h5>
                <p class="card-text">Мы гарантируем высокое качество всех товаров.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Доставка</h5>
                <p class="card-text">Быстрая доставка по всему городу.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Поддержка</h5>
                <p class="card-text">Круглосуточная поддержка клиентов.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}